.flex {
  display: -webkit-flex;
  display: flex;
}
.flex-jc-c {
	-webkit-justify-content: center;
	justify-content: center;
}
.flex-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-1 {
  -webkit-flex: 1;
  flex: 1;
}

.flex-2 {
  -webkit-flex: 2;
  flex: 2;
}

.flex-4 {
  -webkit-flex: 4;
  flex: 4;
}
.flex-jc-fe { justify-content: flex-end; }
.flex-jc-fs { justify-content: flex-start; }
.flex-jc-sa { justify-content: space-around; }
.flex-jc-sb { justify-content: space-between; }
.flex-ai-b { align-items: baseline; }
.flex-ai-c {
  -webkit-align-items: center;
  align-items: center;
}
.flex-ai-fe { align-items: flex-end; }
.flex-ai-fs { align-items: flex-start; }
.flex-ai-s { align-items: stretch; }
.flex-d-c { flex-direction: column; }
.flex-d-r { flex-direction: row; }
.flex-d-rr { flex-direction: row-reverse; }
