.anim-1 {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.w-20 {
  width: 20px;
}

.w-70 {
  width: 70px;
}

.w-100 {
  width: 100px;
}

.w-200 {
  width: 200px;
}

.w-315 {
  width: 315px;
}

.w-100vw {
  width: 100vw;
}

.w-min-100 {
  min-width: 100px;
}

.w-min-100vw {
  min-width: 100vw;
}

.h-20 {
  height: 20px;
}

.h-100vh {
  height: 100vh;
}

.h-min-100vh {
  min-height: 100vh;
}

.f-shadow-1-1-f {
  text-shadow: 1px 1px map-get($baseColors, f);
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

.front-page-hero {
  @media screen and (min-width: map-get($breakpoints, lg)) {
    height: 264px;
    overflow: hidden;
    img {
      width: 2500px;
    }
  }
}

.f-underline__hover:hover {
  text-decoration: underline;
}

.B-r-xs {
  border-radius: map-get($spacerSizes, xs);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #0db9f0 !important;
  border-color: #0db9f0 !important;
  color: #ffffff !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #0db9f0 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #ffffff !important
}

.Ps-0 {
  padding-left: 0;
}

.Pe-0 {
  padding-right: 0;
}

.Pb-300 {
  padding-bottom: 300px;
}

.bg-img-bus {
  background-image: url('images/linja-autobg2.jpg');
}

.bg-size-contain {
  background-size: contain;
}

.bg-size-cover {
  background-size: cover;
}

.bg-repeat-0 {
  background-repeat: no-repeat;
}

.w-max-1 {
  max-width: 100%;
}

.w-max-1200 {
  max-width: 1200px;
}

.f-w-300 {
  font-weight: 300;
}

.f-w-600 {
  font-weight: 600;
}

.f-w-700 {
  font-weight: 700;
}

.f-w-800 {
  font-weight: 800;
}

.h-35 {
  height: 35px;
}

.h-60 {
  height: 60px;
}

.h-70 {
  height: 70px;
}

.h-200 {
  height: 200px;
}

.h-320 {
  height: 320px;
}

.Mt--320 {
  margin-top: -320px;
}

.Mt--60 {
  margin-top: -60px;
}

.Mt-58 {
  margin-top: 58px;
}

.Pt-60 {
  padding-top: 60px;
}

#topBar {
  z-index: 10;
}

#middleBar {
  padding-top: 2em;
}

#drawer {
  z-index: 100;
}

.z-10 {
  z-index: 10;
}

.z-100 {
  z-index: 100;
}

.z-1100 {
  z-index: 1100;
}

.juku-info-short {
  margin: 0;
  color: map-get($baseColors, w);
  font-weight: 300;
  text-align: center;
  font-size: 14px;
  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
  @media screen and (min-width: map-get($breakpoints, sm)) {
    text-align: left;
  }
}

.cursor-pointer:hover {
  cursor: pointer;
}










@media screen and (min-width: map-get($breakpoints, qs)) {
  .r-qs-26 {
    font-size: 26px;
  }
  .r-qs-f-26 {
    font-size: map-get($typographySizes, 26);
  }
  .r-qs-w-315 {
    width: 315px;
  }
  .r-qs-h-315 {
    height: 315px;
  }
}

@media screen and (min-width: map-get($breakpoints, sm)) {
  .r-sm-Mt-lg {
    margin-top: map-get($spacerSizes, lg);
  }
  .r-sm-Mt--63 {
    margin-top: -63px;
  }
  .r-sm-h-63 {
    height: 63px;
  }
  .r-sm-Pt-63 {
    padding-top: 63px;
  }
  .r-sm-P-xl {
    padding: map-get($spacerSizes, xl);
  }
  .r-sm-My-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .r-sm-Mt-0 {
    margin-top: 0;
  }
  .r-sm-Ps-1rem {
    padding-left: 1rem;
  }
  .r-sm-Px-md {
    padding-left: map-get($spacerSizes, md);
    padding-right: map-get($spacerSizes, md);
  }
  .r-sm-Pe-1rem {
    padding-right: 1rem;
  }
  .r-sm-block {
    display: block;
  }
  .r-sm-hidden {
    display: none;
  }
  .r-sm-flex-d-r {
    flex-direction: row;
  }
  .r-sm-flex-d-rr {
    flex-direction: row-reverse;
  }
  .r-sm-f-left {
    text-align: left;
  }
  .r-sm-Ps-xl {
    padding-left: map-get($spacerSizes, xl);
  }
  .r-sm-f-12 {
    font-size: map-get($typographySizes, 12);
  }
  .r-sm-h-min-40 {
    min-height: 40px;
  }
  .r-sm-h-300 {
    height: 300px;
  }
  .r-sm-f-26 {
    font-size: 26px;
  }
  .r-sm-Ms-xxxl {
    margin-left: map-get($spacerSizes, xxxl);
  }
  .r-sm-Me-xxxl {
    margin-right: map-get($spacerSizes, xxxl);
  }
  .nav-container {
    position: relative;
  }
  .r-sm-Me-xl {
    margin-right: map-get($spacerSizes, xl);
  }
}

@media screen and (min-width: map-get($breakpoints, md)) {
  .r-md-Mt--70 {
    margin-top: -70px;
  }
  .r-md-h-300 {
    height: 300px;
  }
  .r-md-Ps-1-rem {
    padding-left: 1rem;
  }
  .r-md-hidden {
    display: none;
  }
  .r-md-block {
    display: block;
  }
  .r-md-flex {
    display: flex;
  }
  .r-md-f-16 {
    font-size: map-get($typographySizes, 16);
  }
  .r-md-f-18 {
    font-size: 18px;
  }
  .r-md-h-min-48 {
    min-height: 48px;
  }
  .r-md-Px-md {
    padding-left: map-get($spacerSizes, md);
    padding-right: map-get($spacerSizes, md);
  }
  .r-md-h-400 {
    height: 400px;
  }
  .r-md-f-40 {
    font-size: 40px;
  }
  .r-md-f-48 {
    font-size: 48px;
  }
  .r-md-Pt-70 {
    padding-top: 70px;
  }
  .r-md-h-70 {
    height: 70px;
  }
}

@media screen and (min-width: map-get($breakpoints, lg)) {
  .r-lg-w-1200 {
    width: 1200px;
  }
  .r-lg-Px-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .r-lg-Px-md {
    padding-left: map-get($spacerSizes, md);
    padding-right: map-get($spacerSizes, md);
  }
  .r-lg-f-50 {
    font-size: 50px;
  }
}
