.bg-img-bus {
  background-image: url('../images/linja-autobg2.jpg');
}

.bg-size-contain {
  background-size: contain;
}

.bg-repeat-0 {
  background-repeat: no-repeat;
}

.w-max-1200 {
  max-width: 1200px;
}
