.bg-img-bus {
  background-image: url('../images/linja-autobg2.jpg');
}

.bg-size-contain {
  background-size: contain;
}

.bg-repeat-0 {
  background-repeat: no-repeat;
}

h2 {
}

h3 {

}

p {
  font-family: "Open sans extra bold";
  font-size: 10px;
}
